* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #4B0082;
    --hover-col: #BA55D3;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}


/* Header */

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
}

.parent .high-score {
    padding: 30px 0 0 70px;
}

.parent .high-score a {
    color: var(--primary);
    text-decoration: none;
}

.parent .timer {
    padding: 30px 70px 0 0;
}


/* Main element */

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.center div h3 {
    margin-top: 15px;
    max-width: 638px;
}

.center .start-quiz {
    background-color: var(--primary);
    color: white;
    margin-top: 15px;
    height: 35px;
    width: 110px;
    font-size: 16px;
    border-radius: 5px;
}

.center .start-quiz:hover {
    background-color: var(--hover-col);
}


/* Styling for the end of game section */

.game-over {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 60px;
}

.game-over p {
    margin-top: 10px;
    font-size: 20px;
}

.game-over input {
    margin-left: 5px;
    height: 25px;
    width: 250px;
    font-size: 20px;
    padding: 5px;
}

.game-over #submit-btn {
    background-color: var(--primary);
    color: white;
    height: 25px;
    width: 75px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 0 -10px 10px;
}

form #submit-btn:hover {
    background-color: var(--hover-col);
}


/* While playing styling */

form {
    max-width: 600px;
    margin: 0 auto;
}

form h1 {
    text-align: left;
}

form hr {
    color: #d3d3d3;
    margin-top: 25px;
    width: 600px;
}

form h2 {
    color: #d3d3d3;
    align-self: flex-start;
    padding-top: 10px;
}

.center #btn {
    background-color: var(--primary);
    color: white;
    text-align: left;
    margin-top: 5px;
    font-size: 16px;
    height: 35px;
    width: 170px;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-start;
}

#btn:hover {
    background-color: var(--hover-col);
}


/* High Score page */

#high-score-list {
    margin-top: 110px;
}

#high-score-list button {
    margin: 10px 10px 10px 0;
    background-color: var(--primary);
    color: white;
    height: 25px;
    width: 75px;
    font-size: 16px;
    border-radius: 5px;
}

#high-score-list #clear-btn {
    width: 140px;
}

form ol {
    font-size: 18px;
    padding-left: 5px;
    margin-top: 5px;
    background-color: #a6a6a6;
    list-style-position: inside;
}

#high-score-list button:hover {
    background-color: var(--hover-col);
}