* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
}

.parent .high-score {
    padding: 30px 0 0 70px;
}

.parent .high-score a {
    text-decoration: none;
}

.parent .timer {
    padding: 30px 70px 0 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.center div h3 {
    margin-top: 15px;
    max-width: 638px;
}

.center button {
    background-color: #4B0082;
    color: white;
    margin-top: 15px;
    height: 35px;
    width: 110px;
    font-size: 16px;
    border-radius: 5px;
}

.center button:hover {
    background-color: #BA55D3;
}