* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
}

.parent .high-score {
    padding: 30px 0 0 70px;
}

.parent .high-score a {
    text-decoration: none;
}

.parent .timer {
    padding: 30px 70px 0 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.center div h3 {
    margin-top: 15px;
    max-width: 638px;
}

.game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
}

.game-over p {
    margin-top: 10px;
    font-size: 20px;
}

.game-over input {
    margin-left: 5px;
    height: 25px;
    width: 250px;
    font-size: 20px;
    padding: 5px;
}

.game-over #submit-btn {
    background-color: #4B0082;
    color: white;
    height: 25px;
    width: 75px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 0 -10px 10px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form h1 {
    text-align: left;
}

form hr {
    color: #d3d3d3;
    margin-top: 25px;
    width: 600px;
}

form h2 {
    color: #d3d3d3;
    align-self: flex-start;
    padding-top: 10px;
}

.center .start-quiz {
    background-color: #4B0082;
    color: white;
    margin-top: 15px;
    height: 35px;
    width: 110px;
    font-size: 16px;
    border-radius: 5px;
}

.center .start-quiz:hover {
    background-color: #BA55D3;
}

.center #btn {
    background-color: #4B0082;
    color: white;
    text-align: left;
    margin-top: 5px;
    font-size: 16px;
    height: 35px;
    width: 170px;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-start;
}

#btn:hover {
    background-color: #BA55D3;
}