* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
}

.parent .high-score {
    padding: 30px 0 0 70px;
}

.parent .high-score a {
    text-decoration: none;
}

.parent .timer {
    padding: 30px 70px 0 0;
}